body{
    background-color: #F6F8F9;
}

.container{
    background-color: white;
    width: 90%;
    margin: 50px auto ;
    padding: 50px;
    border-radius: 5px;
    min-height: 300px;
    /* box sizing toglie la dimensione a padding e border */
    box-sizing: border-box;
}

/* pet header */
header{
    line-height: 50px;
}
.logo{
    vertical-align: middle;
}

/* per navigator */
nav{
    border-bottom: 1px solid  gray;
    
}
.button{
    box-sizing: border-box;
    display: inline-block;
    min-height: 30px;
    min-width: 100px;
    
    margin: 5px;
    padding: 5px;
    
    border: 1px solid;
    border-radius: 5px;

    line-height: 30px;
    text-align: center;
}

.blueBtt{
    color: white;
    background-color: #47ADF1;
    border-color: #47ADF1;
    border-width:5px;
}
.whiteBtt{
    color: lightgrey;
    background-color: white;
    border-color: lightgrey;
    
}

/* per main */
.frecce{
    /* da mettere le frecce allo stesso livello degli altri elementi */
    list-style-type: "\1F837" ;
    padding: 0px;
}

.circle{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    
    width: 15px;
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}
.contentXX{
    color: red;
    border-color: red;
}
.contentXX:after{
    content: "\2716";
}

.contentVV{
    color: green;
    border-color: green;
}
.contentVV:after{
    content: "\2713";
}

/* da mettere tutti i labels in un css a parte */
.lable{
    box-sizing: border-box;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    
    margin: 2px;
    padding: 1px 20px;
    
    border: none;
    border-radius: 5px;

    line-height: 20px;
    text-align: center;
    font-size: small;

}
.lableEditorial{
    color: white;
    background-color: #47ADF1;
}
.lableEditorial::after{
    content: "Editorial"
}
.lableQ1{
    color: white;
    background-color: #f147bb;
}
.lableQ1::after{
    content: " Q1 Goals"
}
.lableRecruiting{
    color: white;
    background-color: #60e966;
}
.lableRecruiting::after{
    content: "Recruiting"
}
.lableMobile{
    color: white;
    background-color: #f0c149;
}
.lableMobile::after{
    content: "Mobile"
}
.lableWeb{
    color: white;
    background-color: #ff0280;
}
.lableWeb::after{
    content: "Web"
}
.lableSales{
    color: white;
    background-color: #15ff00;
}
.lableSales::after{
    content: "Sales"
}

.whiteBG{
    background-color: white;
}

 .inline{
    display: inline-block;
} 