body{
    background-color: grey;
}

.container{
    background-color: white;
    width: 90%;
    margin: 50px auto ;
    padding: 50px;
    border-radius: 5px;
    min-height: 300px;
    /* box sizing toglie la dimensione a padding e border */
    box-sizing: border-box;
}

/* pet header */
header{
    line-height: 50px;
}
.logo{
    vertical-align: middle;
}

/* per navigator */
nav{
border-bottom: 1px solid  gray;

}
.button{
    display: inline-block;
    min-height: 30px;
    min-width: 100px;

    margin: 5px;
    padding: 5px;

    border: 1px solid;
    border-radius: 5px;

    line-height: 30px;
    text-align: center;
}

/* per main */

.circle{
    border: 1px solid;
    border-radius: 50%;
}
.contentRed{
    color: red;
    border-color: red;
}
.contentGreen{
    color: green;
    border-color: green;
}

.blueBtt{
    color: white;
    background-color: #47ADF1;
    border-color: #47ADF1;
    border-width:5px;
}
.whiteBtt{
    color: lightgrey;
    background-color: white;
    border-color: lightgrey;
    
}

.whiteBG{
    background-color: white;
}

 .inline{
    display: inline-block;
} 